<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Conversor de salario - Home
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-input id="user-salary" type="number" [(ngModel)]="salary" (ngModelChange)="convertSalaries()"></ion-input>
    <ion-label id="label-input">Ingrese la cantidad a convertir (en ARS).</ion-label>
    
    <ul id="results">
      <ion-item *ngIf="exchangeRates">
        <ion-label>El salario en dólares es: ${{ salary * exchangeRates.USD | number:'1.2-2' }}</ion-label>
      </ion-item>
      <ion-item *ngIf="exchangeRates">
        <ion-label>El salario en euros es: ${{ salary * exchangeRates.EUR | number:'1.2-2' }}</ion-label>
      </ion-item>
      <ion-item *ngIf="exchangeRates">
        <ion-label>El salario en reales es: ${{ salary * exchangeRates.BRL | number:'1.2-2' }}</ion-label>
      </ion-item>
      <ion-item *ngIf="exchangeRates">
        <ion-label>El salario en libras es: ${{ salary * exchangeRates.GBP | number:'1.2-2' }}</ion-label>
      </ion-item>
      <ion-item *ngIf="exchangeRates">
        <ion-label>El salario en yenes es: ${{ salary * exchangeRates.JPY | number:'1.2-2' }}</ion-label>
      </ion-item>
    </ul>
    <ion-button id="sign-out-button" color="danger" (click)="signOut()">Cerrar sesión</ion-button>
  </div>
</ion-content>
