<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Conversor de salario - Home
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="container">
    <ion-input id="user-salary" type="number" [(ngModel)]="salary" (ngModelChange)="calculateConversion()"></ion-input>
    <ul id="results">
      <li *ngFor="let currency of currencies"> Cambio a {{currency}}: ${{salary}} </li>
    </ul>
    <ion-button id="sign-out-button" color="danger" (click)="signOut()">Cerrar sesión</ion-button>
  </div>

</ion-content>
