<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Conversor de salario</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="user.email" placeholder="Usuario" required></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input [(ngModel)]="user.password" placeholder="Contraseña" type="password" required></ion-input>
      </ion-item>
      <br>
      <ion-button (click)="logUserIn()" color="success">Ingresar</ion-button>
      <ion-button (click)="goToRegister()" color="secondary">Registrarse</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
